<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PrintImportInfo</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td>id</td>
        <td>name</td>
        <td>country</td>
        <td>city</td>
        <td>supply_center</td>
        <td>industry</td>
    </tr>
    <tr th:each="e : ${enterprises}">
        <td th:text="${e.id}"></td>
        <td th:text="${e.name}"></td>
        <td th:text="${e.country}"></td>
        <td th:text="${e.city}"></td>
        <td th:text="${e.supplyCenter}"></td>
        <td th:text="${e.industry}"></td>
    </tr>
</table>
</body>
</html>